<!DOCTYPE html>
<!--
-->
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Component Store</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="stylesheet/style.css"/>
</head>

<body>
<div id="app">
  <div id="sidebar" class="sidebar">
    <header>
      <router-link id="homelogo" to="/">
        <img src="image/logo.png" alt="Home Logo">
      </router-link>
      <!--      <label>-->
      <!--         <input type="text" placeholder="Search bar">-->
      <!--      </label>-->
    </header>

    <div id="navigation">
      <!--      <div id="addressbar">-->
      <!--        <ul class="breadcrumb">-->
      <!--          <li><a href="index.html">Home</a></li>-->
      <!--          <li><a href="#">Link-1</a></li>-->
      <!--        </ul>-->
      <!--      </div>-->
      <nav id="nav1">
        <!-- `<router-link>` will be rendered as an `<a>` tag by default -->
        <router-link to="/p">Products</router-link>
      </nav>
      <nav id="nav2">
        <router-link to="/sr">Software Releases</router-link>
      </nav>
      <nav id="nav3">
        <router-link to="/c">Components</router-link>
      </nav>
    </div>
    <!--    <footer></footer>-->
  </div>

  <div id="content" class="content">
    <main id="main">
      <!-- route outlet. component matched by the route will render here -->
      <router-view :key="$route.fullPath"></router-view>
    </main>
    <aside class="aside"></aside>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<!-- development ^, production v -->
<!--<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10"></script>-->

<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>


<script type="text/x-template" id="table-grid-template">
  <table>
    <thead>
    <tr>
      <th v-for="key in columns"
          @click="sortBy(key)"
          :class="{ active: sortKey === key }">
        {{ key | capitalize }}
        <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
          </span>
      </th>
      <th v-if="cSrCol">Software Releases</th>
      <th v-if="cCol">Components</th>
      <th v-if="selectCol">Select</th>
      <!--      {{selected_row}}-->
    </tr>
    </thead>
    <tbody v-if="!highlighted">
    <tr v-for="entry in filteredRows">
      <td v-for="key in columns">
        {{entry[key]}}
      </td>

      <td v-if="cSrCol">
        <router-link v-bind:to="'/c/' + entry.id ">Software Releases</router-link>
      </td>
      <td v-if="cCol">
        <router-link v-bind:to="'/sr/' + entry.product_name + '/' + entry.version_number">Components</router-link>
      </td>
      <td v-if="selectCol"><label> <input type="radio"
                                          v-bind:value="entry"
                                          v-model="selected_row"
                                          v-on:change="$emit('input', selected_row)"
      > </label></td>
    </tr>
    </tbody>
    <tbody v-if="highlighted">
    <tr v-for="entry in filteredRows"
        v-bind:style="((entry['newest_version']==='This') ? {}: styleObject)">
      <td v-for="key in columns">
        {{entry[key]}}
      </td>
      <td v-if="selectCol"><label> <input type="radio"
                                          v-bind:value="entry"
                                          v-model="selected_row"
                                          v-on:change="$emit('input', selected_row)"
      > </label></td>
    </tr>
    </tbody>
  </table>
</script>

<script type="text/x-template" id="home-template">
  <div>
    <h1>Software Component Store and Release Assembly Tools</h1>
  </div>
</script>
<script type="text/x-template" id="products-template">
  <div>
    <h1>Products</h1>
    <hr/>
    <label><input v-model="product_name" placeholder="Product Name"></label>
    <button v-on:click="pnew">Create Product</button>
    <button v-on:click="pdelete">Delete Product + SR</button>
    <span>{{ this.product_name_response.name }}</span>

    <hr/>
    <label>
      <select v-model="product_field">
        <option v-for="option in gridColumns" v-bind:value="option">
          {{ option }}
        </option>
      </select>
    </label>
    <label><input v-model="product_value" placeholder="New Value"> </label>

    <button v-on:click="pedit">Edit Selected Product</button>
    <span>{{ product_edit_response.name }}</span>

    <hr/>
    <h2>Selected: {{product_edit}}</h2>
    <label><input name="query" v-model="searchQuery" placeholder="Search Filter"> </label>
    <table-grid
        :rows="gridData"
        :columns="gridColumns"
        :filter-key="searchQuery"
        :select-col="true"
        v-model="selectedRow"
    ></table-grid>

  </div>
</script>
<script type="text/x-template" id="software-releases-template">
  <div>
    <h1>Software Releases</h1>
    <hr/>
    <!--    <label><input v-model="product_name" placeholder="Product Name"></label>-->
    <label>
      <select v-model="product_name">
        <option value="" disabled selected>Product Name</option>
        <option v-for="option in product_names" v-bind:value="option"> {{ option }}</option>
      </select>
    </label>
    <label><input v-model="version_number" placeholder="Version Number"></label>
    <button v-on:click="srnew">Create Software Release</button>
    <button v-on:click="srdelete">Delete Software Release</button>
    <span>{{ this.server_response.name }}</span>


    <hr/>
    <label>
      <select v-model="sr_field">
        <option value="" disabled selected>Attribute Field</option>
        <option v-for="option in gridColumns" v-bind:value="option"> {{ option }}</option>
      </select>
    </label>
    <label><input v-model="sr_value" placeholder="New Value"> </label>
    <button v-on:click="sredit">Edit Selected Software Release</button>
    <span>{{ this.sr_selected_response.name }}</span>


    <hr/>
    <label><input v-model="version_number_new" placeholder="New Version Number"></label>
    <button v-on:click="sr_copy">Copy Selected Software Release</button>
    <span>{{ sr_copy_response.name }}</span>
    <hr/>

    <h2>Selected: {{sr_selected}}</h2>
    <label><input name="query" v-model="searchQuery" placeholder="Search Filter"> </label>
    <table-grid
        :rows="gridData"
        :columns="gridColumns"
        :filter-key="searchQuery"
        :c-col="true"
        :select-col="true"
        v-model="selectedRow"
    ></table-grid>
  </div>
</script>
<script type="text/x-template" id="sr-components-template">
  <div>
    <h1>Software Release's Components</h1>
    <h2>Product Name: {{ $route.params.product_name }}</h2>
    <h2>Version Number: {{ $route.params.version_number }}</h2>

    <hr/>
    <button v-on:click="sr_remove_c">Remove Selected Component from SR</button>
    <span>{{ delete_response.name }}</span>

    <h2>Selected: {{sr_selected}}</h2>
    <label><input name="query" v-model="searchQuery" placeholder="Search Filter"> </label>
    <table-grid
        :rows="sr_components"
        :columns="gridColumns"
        :filter-key="searchQuery"
        :highlighted="true"
        :select-col="true"
        v-model="selectedRow"
    ></table-grid>

    <hr/>
    <hr/>

    <h2>Components to Add</h2>
    <label><input v-model="destination" placeholder="Destination"></label>
    <button v-on:click="sr_add_c">Add Selected Component to SR</button>
    <span>{{ add_response.name }}</span>


    <h2>Selected: {{c_selected}}</h2>
    <label><input name="query" v-model="searchQuery2" placeholder="Search Filter"> </label>
    <table-grid
        :rows="components_all"
        :columns="gridColumns2"
        :filter-key="searchQuery2"
        :select-col="true"
        v-model="selectedRow2"
    ></table-grid>
  </div>
</script>

<script type="text/x-template" id="components-template">
  <div>
    <h1>Components</h1>
    <label><input name="query" v-model="searchQuery" placeholder="Search Filter"> </label>
    <table-grid
        :rows="gridData"
        :columns="gridColumns"
        :filter-key="searchQuery"
        :c-sr-col="true"
    ></table-grid>

  </div>
</script>
<script type="text/x-template" id="component-sr-template">
  <div>
    <h1>Component associated Software Releases</h1>
    <h3>Component ID: {{ $route.params.id }}</h3>

    <!-- sr list from sr -->
    <table-grid
        :rows="gridData"
        :columns="gridColumns"
        :filter-key="searchQuery"
    ></table-grid>
  </div>
</script>

<!--Must load templates before index.js-->
<script src="javascript/index.js"></script>

</body>
</html>