<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Index Page</title>
  <link rel="stylesheet" href="/static/stylesheet/style.css"/>
</head>
<body>

<main>
  <h1>Hello World from Flask</h1>

  <a href="/static/Assignment 3/index.html">static files sample</a><br/>

  <a href="1">page1</a><br/>
  <a href="2">page2</a><br/>
  <a href="/static/home">home</a><br/>
  <a href="1/1.html">1/1.html</a><br/>
  <a href="http://127.0.0.1:5000/v">http://127.0.0.1:5000/v</a><br/>


  <br/>

  <button type="button" onclick="istart()">Test Button 1</button>
  <div id="id1"></div>

  <button type="button" onclick="ustart()">Test Button 2</button>
  <div id="id2"></div>

  <button type="button" onclick="">Test Button 3</button>
  <div id="id"></div>
  <button type="button" onclick="">Test Button 4</button>
  <div id="id"></div>
  <button type="button" onclick="">Test Button 5</button>
  <div id="id"></div>
  <button type="button" onclick="">Test Button 6</button>
  <div id="id"></div>
  <button type="button" onclick="">Test Button 7</button>
  <div id="id"></div>


  <div id="app">
    <ul>
      <li v-for="product in products">
        [[ product ]]
      </li>
    </ul>

  </div>

</main>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>


<script>


    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        data: {
            products: [1, 2, 3, 4]
        },
        created() {
            axios.post('/cname', {
                firstName: 'Fred',
                lastName: 'Flintstone'
            })
                .then(function (response) {
                    console.log(response);
                })
                .catch(function (error) {
                    console.log(error);
                });
        }
    });


</script>
</body>
</html>