<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>page1.html</title>
  <link rel="stylesheet" href="/static/stylesheet/style.css"/>

</head>
<body>
page 1 text

<br/>
<button type="button" onclick=f5()>Test Button 5</button>
<br/>
<div id="id5"></div>
<div id="id6"></div>

<br>
<br/>

<div id="app">
  [[ message ]]

</div>


<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>


<script>

    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        data: {
            message: 'Hello Vue!'
        }
    });

    /*
    https://github.com/axios/axios

        axios.post('/user', {
        firstName: 'Fred',
        lastName: 'Flintstone'
    })
        .then(function (response) {
            console.log(response);
        })
        .catch(function (error) {
            console.log(error);
        });

     */
    // http://127.0.0.1:5000/1
    function f5() {
        jsobject1 = {
            firstName: 'Fred',
            lastName: 'Flintstone'
        };
        // send jsobject without JSON.stringify()
        axios.post('/5', jsobject1)
            .then(function (response) {
                object1 = response.data; // is object, not string
                document.getElementById("id5").innerHTML = JSON.stringify(response.data);
                document.getElementById("id6").innerHTML = response.data.lastName;
                x = response; // type x.data in console
                console.log("x.data = " + x.data);
                console.log("response.data = " + response.data);
                console.log("response.data.firstName = " + response.data.firstName);
                console.log("response.data.lastName = " + response.data.lastName);
                console.log(response);
            })
            .catch(function (error) {
                console.log(error);
            });

    }




    document.getElementById("id6").innerHTML = "message text";


</script>


</body>
</html>